<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


                    <div class="dashboard-wrapper">
                        <div class="dashboard-ecommerce">
                            <div class="container-fluid dashboard-content">
                              <h1 align="center">Update Session Details</h1>
                              <div class="container">
                            <form class="row g-3" action="/UpdateBasicDetails/{{allBasicDetails.sno}}" method="POST">
                              <div class="row g-3">
                                <div class="col">
                                  &nbsp;&nbsp;<input type="text" class="form-control" placeholder="Faculty First name" aria-label="First name" name="first_name">
                                </div>
                                <div class="col">
                                  &nbsp;&nbsp;<input type="text" class="form-control" placeholder="Faculty Last name" aria-label="Last name" name="last_name">
                                </div>
                              </div>
                              </div>
                        
                              <div class="container"> <br><br>
                        
                              
                                <div class="col-md-6">
                                  <label for="inputEmail4" class="form-label">Email</label>
                                  <input type="email" class="form-control" id="email" name=email>
                                </div>
                                <div class="col-md-7">
                                    <label for="inputDesignation" class="form-label">Subject</label>
                                    <input type="text" class="form-control" id="subject" name="subject">
                                  </div>
                                <div class="col-12">
                                  <label for="inputAddress" class="form-label">Questions Asked by Students</label>
                                  <input type="text" class="form-control" id="discussion" name="questions">
                                </div>
                                <div class="col-12">
                                  <label for="inputAddress2" class="form-label">Discussion Summary</label>
                                  <input type="text" class="form-control" id="discussion" name="discussion">
                                </div>
                                <div class="col-md-6">
                                  <label for="inputCity" class="form-label">Date (dd/mm/yyyy)</label>
                                  <input type="date" class="form-control" id="inputCity" name="date">
                                </div>
                                <div class="col-md-4">
                                  <label for="inputState" class="form-label">Lecture Time (hh:mm)</label>
                                  <input type="text" class="form-control" id="time" name="time">
                        
                                </div>
                                <div class="col-md-2">
                                  <label for="inputZip" class="form-label">Number Of Students</label>
                                  <input type="text" class="form-control" id="NoOfStudents" name="NoOfStudents">
                                </div>
                          
                               
                                <br><br>
                                <div class="row-12">
                                  <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                                <br>
                                <div class="row-12">
                                    <a class="btn btn-primary" href="/BasicDetailsview">Back to all session details</a>
                                  </div>
                              </div>
                            </form>
                            
                        
                            <!-- Optional JavaScript; choose one of the two! -->
                        
                            <!-- Option 1: Bootstrap Bundle with Popper -->
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
                        
                    


</body>
 
</html>